.navtab {
  background-color: #000;
  padding: 24px 70px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navtab__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navtab__item {
  margin-right: 40px;
}

.navtab__item:last-child {
  margin-right: 0;
}

.navtab__link {
  color: #fff;
  line-height: 1.23;
  font-size: 13px;
  font-weight: 500;
  transition: opacity .4s ease;
}

.navtab__link:hover {
  opacity: .7;
}

@media(max-width: 768px) {
  .navtab {
      padding: 24px 50px;
  }
}

@media(max-width: 425px) {
  .navtab {
    padding: 24px 18px;
  }

  .navtab__link {
    line-height: 1.45;
    font-size: 11px;
  }

  .navtab__item {
    margin-right: 24px;
  }
}
